.services-heading {
  text-align: center;
  margin: 20px 0;
  border-bottom: 1px solid lightgray;
  padding-bottom: 15px;
}

.services-heading h1 {
  color: #333;
  font-weight: bold;
  font-size: 35px;
}

.services-top {
  padding: 10px;
  margin-bottom: 20px;
}

.services-top-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.serivces-top-item {
  text-align: center;
  background-color: #fff;
  box-shadow: 0 0 10px #ccc;
  padding: 3rem;
  border-radius: 10px;
}

.services-top-item-icon {
  margin-bottom: 20px;
}

.services-top-item-icon svg {
  font-size: 75px;
  color: rgb(152, 196, 48);
}

.services-top-item-heading h3 {
  color: #33577e;
  font-size: 25px;
  margin-bottom: 15px;
  font-weight: bold;
}

.services-top-item-para h4 {
  color: #333;
  font-size: 22px;
  font-weight: 500;
}

.green {
  color: #000;
  background-color: rgb(152, 196, 48);
}

.blue {
  color: #fff;
  background-color: rgb(51, 87, 126);
}

.services-bottom {
  padding: 10px;
  margin-bottom: 20px;
}

.services-bottom-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.serivces-bottom-item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  min-height: 250px;
  border-radius: 6px;
}

.services-bottom-item-back {
  display: none;
}

.serivces-bottom-item:hover .services-bottom-item-heading {
  display: none;
}

.serivces-bottom-item:hover .services-bottom-item-back {
  display: block;
}

.services-bottom-item-heading,
.services-bottom-item-back {
  text-align: center;
}

.services-bottom-item-heading h2,
.services-bottom-item-back h2 {
  font-size: 30px;
}

.services-bottom-item-back p {
  margin-top: 10px;
  color: #333;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
}

.warehouse-location {
  margin-top: 3rem;
}

.warehouse-location-heading {
  background-color: #f4f4f4;
  text-align: center;
  padding: 2rem 0;
}

.warehouse-location-heading h2 {
  color: #333;
  font-weight: bold;
  font-size: 35px;
  border-bottom: 1px solid #eae9e9;
  padding-bottom: 12px;
}

.warehouse-location-img img {
  width: 100%;
}

.about-us {
  background-image: url("../../../public/images/about-us.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 2rem;
}

.about-us-heading {
  text-align: center;
  margin-bottom: 2rem;
}

.about-us-heading h2 {
  color: #fff;
  font-size: 35px;
  border-bottom: 1px solid #fff;
  padding-bottom: 18px;
  border-bottom-style: dashed;
}

.about-us-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-us-left {
  width: 50%;
  margin-right: 10%;
}

.about-us-right {
  width: 40%;
}

.video video {
  width: 100%;
  border: 3px solid #fff;
  border-radius: 10px;
}

.text-box {
  background-color: #fff;
  padding: 2rem;
  border-radius: 13px;
}

.text-box p {
  color: #333;
  font-weight: 400;
  font-size: 17px;
  margin-bottom: 20px;
}

.text-box-icons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.text-box-item-div {
  text-align: center;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 1rem;
}

.icon svg {
  color: rgb(51, 87, 126);
  font-size: 35px;
  margin-bottom: 10px;
}

.icon span {
  color: #333;
  font-weight: 500;
}
