.product-categories {
  margin: 2rem 0;
  padding: 0 2rem;
}

.product-categories-item {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  border-bottom: 1px solid #333;
  border-bottom-style: dashed;
  padding-bottom: 2rem;
}

.product-categories-item-left {
  width: 25%;
  text-align: center;
}

.product-categories-item-left button {
  font-size: 16px;
  background-color: #33577e;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  font-weight: bold;
  letter-spacing: 2px;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease-in;
}

.product-categories-item-left button:hover {
  background-color: #8bc34a;
  color: #333;
}

.product-categories-item-right {
  width: 75%;
}

.product-categories-item-right p {
  color: #333;
  font-size: 15px;
  line-height: 2;
}
