.about-us-top {
  margin: 2rem 0;
  padding: 0 2rem;
}

.about-us-top-container {
  display: flex;
  align-items: center;
}

.about-us-top-left {
  width: 50%;
  margin-right: 10%;
}

.about-us-top-heading {
  text-align: center;
  margin-bottom: 1.5rem;
}

.about-us-top-heading h2 {
  color: #333;
  font-size: 32px;
}

.about-us-top-para p {
  margin-bottom: 1rem;
  color: #333;
  font-weight: 400;
  line-height: 1.6;
  font-size: 14px;
}

.about-us-top-right {
  width: 40%;
}

.about-us-top-right-img img {
  width: 100%;
  border-radius: 10px;
}

.about-us-box {
  padding: 0 2rem;
  margin-bottom: 1rem;
}

.about-us-box-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.about-us-box-item {
  text-align: center;
  border: 1px solid #ddd;
  padding: 1rem 0;
}

.about-us-box-item h3 {
  color: #33577e;
  font-size: 30px;
  margin-bottom: 10px;
}

.about-us-box-item p {
  color: #333;
  font-weight: 400;
  font-size: 14px;
}

.about-us-fulfillment-heading {
  background-color: rgb(246, 249, 255);
  text-align: center;
  padding: 1rem 25px;
}

.about-us-fulfillment-heading h2 {
  color: #333;
  font-size: 30px;
  border-bottom: 1px solid #8bc34a;
  padding-bottom: 16px;
  border-bottom-style: dashed;
}

.about-us-Partners-heading {
  text-align: center;
  padding: 1rem 25px;
}

.about-us-Partners-heading h2 {
  color: #333;
  font-size: 30px;
  border-bottom: 1px solid #333;
  padding-bottom: 16px;
  border-bottom-style: dashed;
}

.meet-banner-img {
  background-image: url("../../../public/images/New-ShipSage.png");
  background-position: center;
  background-repeat: no-repeat;
  padding: 5rem;
}

.meet-banner-img h1 {
  text-align: center;
  color: #fff;
  font-size: 50px;
}

.teem-info {
  margin: 3rem 0 4rem 0;
  padding: 0 2rem;
}

.teem-info-heading {
  text-align: center;
  margin-bottom: 1.5rem;
}

.teem-info-heading h2 {
  color: #333;
  font-size: 30px;
}

.teem-info-para {
  text-align: center;
  margin-bottom: 5rem;
}

.teem-info-para p {
  color: #333;
  line-height: 1.8;
}

.teems-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.single-person-img {
  width: 100%;
}

.single-person-img img {
  width: 100%;
}

.single-person-name-work {
  margin: 15px 0;
}

.single-person-name-work h2 {
  color: #333;
  font-size: 25px;
  margin-bottom: 10px;
}

.single-person-name-work p {
  color: #333;
  font-size: 20px;
  font-weight: 400;
}

.line {
  background-color: #8bc34a;
  height: 5px;
  display: inline-block;
  width: 60px;
}

.works {
  margin-top: 1rem;
}

.work-heading {
  margin-bottom: 10px;
}

.work-heading h4 {
  color: #333;
  font-size: 18px;
}

.work-para {
  margin-bottom: 1.5rem;
}

.work-para p {
  color: #333;
  font-weight: 400;
}
