nav {
  display: flex;
  align-items: center;
  min-height: 100px;
  padding: 0 15px;
}

nav .header-left {
  width: 15%;
}

nav .header-left img {
  width: 75%;
}

.header-center .main-ul {
  display: flex;
  align-items: center;
}

.main-ul .main-li {
  margin-right: 25px;
  position: relative;
}

.main-ul .main-li .main-link {
  color: #333;
  font-weight: bold;
  font-size: 18px;
  transition: all 0.2s ease-in;
  display: flex;
  align-items: center;
}

.main-link .arrow {
  display: flex;
  align-items: center;
}

.main-ul .main-li .main-link:hover {
  color: #33577e;
}

.main-ul .main-li span svg {
  font-size: 20px;
}

.inner-ul {
  position: absolute;
  background-color: #fff;
  width: max-content;
  border-radius: 6px;
}

.inner-ul li {
  border-bottom: 1px solid rgb(223, 223, 223);
  padding: 1rem 1.5rem;
}

.inner-ul li:last-child {
  border: none;
  margin-bottom: 0px;
}

.inner-ul li a {
  color: #333;
  font-weight: bold;
  font-size: 14px;
}

.inner-ul {
  display: none;
}

.main-li:hover .inner-ul {
  display: block;
}

.main-ul .login-btn a {
  display: flex;
  align-items: center;
  color: #333;
  font-weight: bold;
  font-size: 18px;
  transition: all 0.2s ease-in;
}

.main-ul .login-btn a:hover {
  color: #33577e;
}

.main-ul .login-btn a svg {
  margin-right: 5px;
}

.ham-burder {
  border: 1px solid #333;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 5px 8px;
  display: none;
}

#close {
  color: red;
  font-size: 25px;
  cursor: pointer;
  display: none;
}

.ham-burder svg {
  font-size: 24px;
}
