.footer {
  padding: 3rem;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.copy-right {
  background-color: #333;
  text-align: center;
  padding: 1.5rem 0;
}

.copy-right p {
  color: #fff;
}

.footer-heading {
  color: #33577e;
  margin-bottom: 2rem;
  font-weight: bold;
  font-size: 22px;
}

.footer ul li {
  margin-bottom: 1rem;
}

.footer ul li a {
  color: #333;
  font-family: "Roboto";
  font-weight: 500;
}

.footer-logo {
  width: 75%;
}

.footer-logo img {
  width: 100%;
}

.footer-1-bottom {
  margin-top: 1rem;
}

.footer-1-bottom p {
  margin-bottom: 1.5rem;
  color: #333;
  font-size: 18px;
}

.footer-1-bottom p span:first-child {
  margin-right: 10px;
}

.footer-1-bottom p span svg {
  color: #33577e;
}

.footer-icons svg {
  color: gray;
  font-size: 25px;
  margin-right: 15px;
}
