.global-contact {
  background-image: url("../../../public/images/local-contact.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 3rem;
}

.global-contact-right {
  background-color: #fff;
  padding: 2rem;
  border-radius: 12px;
  margin-left: auto;
  width: 50%;
}

.global-contact-right div {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

.global-contact-right div label {
  color: #333;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 18px;
}

.global-contact-right div input,
.global-contact-right div textarea {
  padding: 10px 15px;
  font-size: 16px;
  font-weight: 400;
  color: #333;
  border: 1px solid #ccc;
  outline: none;
  background-color: #eae9e9;
  font-family: "Roboto";
}

.global-contact-right button {
  background-color: #ff7a59;
  border: none;
  color: #fff;
  font-family: "Roboto";
  padding: 10px 0;
  width: 100px;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  outline: none;
}

.container {
  margin: 20px;
}

.contact-us-banner {
  background-image: url("../.../../../../public/images/Contact-Us.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
}

.contact-us-banner h2 {
  color: #fff;
  font-size: 40px;
}

.contact-us-banner button {
  border: none;
  padding: 14px 0;
  width: 200px;
  color: #3d66ae;
  font-size: 15px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 8px;
  transition: all 0.3s ease-in;
}

.contact-us-banner button:hover {
  color: #fff;
  background-color: #00d084;
}

.contact-us-form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3rem 0;
}

.contact-form {
  background-color: #ededed;
  padding: 2rem;
  border-radius: 14px;
  width: 70%;
}

.contact-form div {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

.contact-form div label {
  color: #333;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 18px;
}

.contact-form div input,
.contact-form div textarea {
  padding: 10px 15px;
  font-size: 16px;
  font-weight: 400;
  color: #333;
  border: 1px solid #ccc;
  outline: none;
  background-color: #fff;
  font-family: "Roboto";
}

.contact-form button {
  background-color: #ff7a59;
  border: none;
  color: #fff;
  font-family: "Roboto";
  padding: 10px 0;
  width: 100px;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  outline: none;
}

.contact-us-box {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  background-image: radial-gradient(
    circle at left top,
    rgba(139, 195, 74, 0.137) 60%,
    rgba(139, 195, 74, 0.137) 41%
  );
  border: 1px solid #8bc34a;
  border-radius: 4px;
  padding: 2rem;
}

.contact-us-box svg {
  color: #8bc34a;
  margin-bottom: 1rem;
  font-size: 35px;
}

.contact-us-box h2 {
  margin-bottom: 10px;
  color: #333;
}

.contact-us-box p {
  color: #333;
  font-weight: 400;
  font-size: 16px;
}

.contact-us-boxes {
  margin: 5rem 0 3rem 0;
}

.contact-us-boxes-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.contact-us-boxes-container-item {
  background-image: radial-gradient(
    circle at left top,
    rgba(139, 195, 74, 0.137) 60%,
    rgba(139, 195, 74, 0.137) 41%
  );
  border: 1px solid #8bc34a;
  border-radius: 4px;
  padding: 2rem;
}

.contact-us-boxes-container-item svg {
  color: #8bc34a;
  margin-bottom: 1rem;
  font-size: 35px;
}

.contact-us-boxes-container-item h2 {
  color: #333;
  margin-bottom: 1rem;
}

.contact-us-boxes-container-item p {
  color: #333;
  font-size: 18px;
  margin-bottom: 1rem;
}
