.services {
  margin: 2rem 0;
}

.services-left {
  width: 20%;
}

.services-left-btns {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.services-left-btns button {
  border-radius: 5px;
  background-color: #fff;
  width: max-content;
  margin: 0 auto;
  border: none;
  color: #33577e;
  font-weight: bold;
  padding: 12px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 1rem;
  transition: all 0.3s ease-in;
}

.services-left-btns button:hover {
  background-color: #edf6fc;
}

.services-left-btns button a {
  text-decoration: none;
  color: #33577e;
}

.services-container {
  display: flex;
}

.services-right {
  width: 80%;
  padding: 0 2rem;
}

.services-right-1,
.services-right-2,
.services-right-3,
.services-right-4 {
  margin-bottom: 3rem;
}

.services-page-heading {
  color: #333;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #8bc34a;
  border-bottom-style: dashed;
  font-size: 20px;
}

.services-right-1-container {
  display: flex;
}

.services-right-1-left {
  width: 55%;
  margin-right: 5%;
}

.services-right-1-left-para p {
  color: #333;
  line-height: 1.5;
  margin-bottom: 1.5rem;
}

.services-right-1-right {
  width: 40%;
}

.services-right-1-right-img img {
  width: 100%;
  border-radius: 10px;
}

.services-right-2-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.services-right-2-box {
  background-color: rgb(248, 249, 250);
  padding: 2rem;
  border-radius: 10px;
}

.services-right-2-box-icon-text {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.services-icon {
  background-color: #33577e;
  color: #fff;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.services-right-2-box-icon-text h3 {
  margin-left: 15px;
  color: #333;
  font-weight: 600;
  font-size: 22px;
}

.services-right-2-box-para p {
  color: #333;
  line-height: 1.7;
  letter-spacing: 0.5px;
}

.services-right-3-img img {
  width: 100%;
}

.services-right-4-para p {
  color: #333;
  line-height: 1.5;
}

.table {
  width: 100%;
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

thead {
  background-color: #33577e;
}

th {
  padding: 20px;
  color: #fff;
  text-align: left;
}

td {
  border-bottom: 1px solid #dcdcdc;
  padding: 10px 20px;
  color: #333;
  font-size: 16px;
}

td li {
  margin-bottom: 12px;
  color: #333;
}

.services-right-3-container {
  display: flex;
}

.services-right-3-left {
  width: 55%;
}

.services-right-3-right {
  width: 45%;
}

.services-right-3-right img {
  width: 100%;
}

.outer-div {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}

.outer-div span {
  color: #333;
  font-weight: 400;
}

.sercices-icon {
  margin-right: 1rem;
  width: 30px;
  height: 30px;
  background-color: #8bc34a;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #fff;
}
