.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-inner-container {
  display: flex;
  width: 80%;
  /* box-shadow: 5px 5px 10px #ccc, -5px -5px 10px #ccc; */
  margin-top: 5rem;
  margin-bottom: 5rem;
  padding: 0 5%;
}

.login-inner-container .login-left {
  width: 48%;
  margin-right: 4%;
}

.login-left .login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.login-form .login-heading {
  margin-bottom: 2rem;
}

.login-heading h2 {
  color: #000;
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 10px;
}

.login-heading p {
  color: #666;
  font-weight: 400;
  font-size: 16px;
}

.login-heading p a {
  color: #5600ff;
  text-decoration: none;
  border-bottom: 1px solid;
  padding-bottom: 2px;
}

.login-left form .input-div {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.login-left form .forget-password-div {
  text-align: right;
}

.login-left form .forget-password-div a {
  color: #5600ff;
  text-decoration: none;
  padding-bottom: 2px;
}

.login-left form div label {
  color: #000;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}

.login-left form div input,
.login-left form div select {
  border: 1px solid #ccc;
  padding: 12px 15px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 400;
  outline: none;
}

.login-left form div select {
  padding-right: 25px;
  cursor: pointer;
}

.login-left form .login-btn {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.input-div .otp-btn {
  position: relative;
}

.input-div .otp-btn input {
  width: 100%;
  padding-right: 50px;
}

.input-div .otp-btn button {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  outline: none;
  background: transparent;
  border: none;
}

.input-div p {
  font-size: 14px;
  margin-top: 5px;
  font-weight: 400;
  color: #666;
}

.login-inner-container .login-right {
  width: 48%;
}

.login-right img {
  width: 100%;
}

.login-left form .input-wraper {
  display: flex;
  align-items: center;
  gap: 20px;
}

.login-left form .input-wraper .input-div {
  flex: 1;
}
