.profile {
  margin-top: 8rem;
  margin-bottom: 8rem;
}

.profile .profile-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.profile-container .profile-left {
  width: 350px;
  padding-right: 2%;
}

.profile-left .account-navigation {
  background: #f5f5f5;
  padding: 15px 0;
  border-radius: 10px;
}

.account-navigation .navigation-list {
  padding: 24px;
}

.navigation-list .account-title {
  font-size: 22px;
  font-weight: 700;
  color: #141414;
  margin-bottom: 24px;
}

.navigation-list .account-group-btns {
  display: flex;
  flex-direction: column;
}

.account-group-btns .group-title {
  font-size: 16px;
  margin-bottom: 10px;
  color: #141414;
}

.account-group-btns .group-item {
  display: flex;
  align-items: center;
  border: 1px solid #e5e5e5;
  padding: 12px 15px;
  border-radius: 10px;
  text-decoration: none;
  position: relative;
  margin-bottom: 25px;
  font-size: 16px;
  color: #141414;
  transition: all 0.3s ease;
}

.account-group-btns .group-item:hover {
  border: 1px solid #ff7a59;
}

.account-group-btns .group-item-active {
  background: #ff7a59;
  color: #fff;
}

.group-item svg {
  font-size: 25px;
}

.group-item span {
  font-size: 16px;
  padding-left: 13px;
}

.group-item svg:last-child {
  position: absolute;
  right: 25px;
}

.profile-container .profile-right {
  width: calc(100% - 350px);
}

.profile-right .my-account-page-title {
  color: #000;
  font-size: 20px;
  font-weight: 700;
}

.profile-right .ContactInformation {
  margin-top: 25px;
}

.ContactInformation .my-account-block-title {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 15px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 8px;
}

.ContactInformation .name-data .my-account-block-subtitle {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 10px;
}

.name-data p {
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 5px;
}

.name-data .name-data-editing {
  margin-top: 15px;
  display: flex;
  align-items: center;
}

.name-data-editing a {
  text-decoration: none;
  color: #2154d8;
  font-weight: 400;
}

.name-data-editing a:first-child {
  padding-right: 10px;
  margin-right: 10px;
  border-right: 1px solid;
}

.ContactInformation .all-fields .outer-field {
  margin-bottom: 2rem;
}

.all-fields .outer-field p {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 12px;
}

.all-fields .outer-field .inner-field {
  width: 300px;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  align-items: center;
}

.outer-field .inner-field span {
  color: #979797;
  font-size: 14px;
  font-weight: 400;
}

.outer-field .inner-field a svg {
  color: #000;
  font-size: 18px;
}

.all-fields button {
  width: 300px;
}

.ContactInformation .change-name p {
  color: #000;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}

.ContactInformation .change-name input {
  border: 1px solid #ccc;
  padding: 1rem;
  width: 300px;
  color: #000;
  font-size: 16px;
  border-radius: 10px;
  outline: none;
  margin-bottom: 2rem;
}

.ContactInformation .width {
  width: 300px;
}

.myaccount-content .address-main-container {
  margin-top: 2rem;
}

.myaccount-content .address-main-container .address-title {
  border-bottom: 1px solid #ccc;
  padding-bottom: 8px;
  display: flex;
  align-items: center;
}

.address-title h2 {
  font-size: 16px;
  font-weight: 700;
}

.address-title a {
  font-size: 14px;
  text-decoration: none;
  margin-left: 10px;
  font-weight: 400;
  color: #2154d8;
}

.address-main-container .default-heading {
  font-size: 16px;
  font-weight: 700;
  margin: 14px 0;
}

.address-main-container .address-box {
  width: 50%;
  border: 1px solid #ccc;
  padding: 1rem 2rem;
  border-radius: 10px;
}

.address-box .name-para {
  font-size: 16px;
  color: #000;
  margin-bottom: 10px;
}

.address-box div {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.address-box div p {
  color: #333;
  margin-right: 15px;
  font-weight: 400;
  font-size: 16px;
}

.address-box a {
  color: #2144d8;
  border-bottom: 1px solid;
  font-weight: 500;
  font-size: 16px;
}

.address-box .edit-link {
  text-align: right;
  margin-top: 10px;
}

.ContactInformation .edit-address-main-container {
  width: 50%;
}

.edit-address-main-container .edit-address-item {
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
}

.edit-address-main-container .edit-address-item label {
  color: #333;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}

.edit-address-main-container .edit-address-item input,
.edit-address-main-container .edit-address-item select {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px 15px;
  color: #333;
  font-size: 14px;
  font-weight: 400;
  outline: none;
}

.edit-address-main-container .edit-address-item select {
  cursor: pointer;
}

.edit-address-main-container .input-wraper {
  display: flex;
  align-items: center;
}

.input-wraper .edit-address-item {
  width: 48%;
}

.input-wraper .edit-address-item:first-child {
  margin-right: 4%;
}

.edit-address-main-container button {
  width: 100%;
}
