.system {
  background-image: url("../../../public/images/wms-system.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 8rem 2rem;
}

.system-heading {
  text-align: center;
}

.system-heading h2 {
  color: #333;
  margin-bottom: 1rem;
  font-size: 24px;
}

.system-heading p {
  color: #333;
  font-weight: 500;
  font-size: 17px;
}

.padding {
  padding: 0 2rem;
  background-color: #f6f9ff;
}

.system-line {
  border-top: 2px solid #8bc34a;
  width: 100%;
  border-top-style: dotted;
}

.advantages {
  background-color: #f6f9ff;
  padding-bottom: 2rem;
}

.advantages-heading {
  text-align: center;
  padding: 2rem 0;
}

.advantages-heading h2 {
  color: #333;
  font-size: 25px;
}

.advantages-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.advantages-box {
  border: 1px solid #8bc34a;
  padding: 3rem;
  border-radius: 5px;
}

.advantages-box svg {
  color: #33577e;
  font-size: 35px;
  margin-bottom: 1rem;
}

.advantages-box h3 {
  margin-bottom: 1rem;
  color: #333;
  font-size: 22px;
}

.advantages-box p {
  color: #333;
  line-height: 1.5;
}

.operation-heading {
  text-align: center;
  padding-top: 3rem;
}

.operation-heading h2 {
  color: #333;
  font-size: 30px;
}

.operation-img img {
  width: 100%;
}
